/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
   
body::-webkit-scrollbar-track {
    background: rgb(136, 136, 136);        /* color of the tracking area */
  }
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(56, 56, 56);    /* color of the scroll thumb */
    border-radius: 20px;
    width: 7px;       /* roundness of the scroll thumb */
  }